.container-items{
  background-color:#f3f4f5;
  padding: 1rem 1.5rem; 
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 400px;
  margin: auto;
  text-align: center;
}
