.itemCountContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
  border-radius: 8px;
  width:100%;
}
.itemCountContainer > button{
  margin: 1rem;
  font-size: 2rem;
  border-radius: 50%;
}
#counter{
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.counter{
  color:white;
  background-color: black;
  font-weight: 600;
  padding: 1rem;
  border-radius:100%;
  position: relative;
  right: 10px;
}
