.navbar{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: #1b2430;
  padding: 1rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .6);
  height: 70px;
  /* border: 1px solid red; */
}
.nav-items{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  height:70px;
}
.nav-items li{
  list-style: none;
  padding: 0 10px;
  position: relative;
  /* border: 1px solid black; */
  height: 70px;
  width:fit-content;
  line-height: 70px;
}
.nav-items li a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #cecece;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  transition: all 1s ease;
}
.nav-items li a:hover,
.nav-items li a.active{
  color:#6752b1;
  transition: all 1s ease;
}
li{
 list-style: none;
 font-weight: 600;
}